
*/config/*
!*/config/*.yaml
!*/config/*.sh

!*/config/orderer
*/config/orderer/*
!*/config/orderer/orderer.yaml

!*/config/channel
*/config/channel/*
!*/config/channel/.gitkeep

!*/config/coa
!*/config/dpwh